In [277]:
import pandas as pd
import numpy as np

In [278]:
df = pd.read_csv("train.csv")

In [279]:
#Getting the title from the names
title = df['Name'].apply(lambda x: x.split(',')[1]).apply(lambda x: x.split('.')[0]).apply(lambda x: x[1:])

In [280]:
df['Title'] = title

In [281]:
#getiing the cabin alphabet from the cabin variable
cabin = df['Cabin'].apply(lambda x: str(x)[0])

In [282]:
cabin = cabin.apply(lambda x: x if str(x) != 'n' else None)

In [283]:
df['CabinAlpha'] = cabin

In [284]:
#removing null values in age
df.groupby('Title')['Age'].mean()

Title
Capt            70.000000
Col             58.000000
Don             40.000000
Dr              42.000000
Jonkheer        38.000000
Lady            48.000000
Major           48.500000
Master           4.574167
Miss            21.773973
Mlle            24.000000
Mme             24.000000
Mr              32.368090
Mrs             35.898148
Ms              28.000000
Rev             43.166667
Sir             49.000000
the Countess    33.000000
Name: Age, dtype: float64

In [285]:
df.loc[(df.Age.isnull()) & (df.Title == 'Capt'), 'Age'] = 70
df.loc[(df.Age.isnull()) & (df.Title == 'Col'), 'Age'] = 58
df.loc[(df.Age.isnull()) & (df.Title == 'Don'), 'Age'] = 40
df.loc[(df.Age.isnull()) & (df.Title == 'Dr'), 'Age'] = 42
df.loc[(df.Age.isnull()) & (df.Title == 'Jonkheer'), 'Age'] = 38
df.loc[(df.Age.isnull()) & (df.Title == 'Lady'), 'Age'] = 48
df.loc[(df.Age.isnull()) & (df.Title == 'Major'), 'Age'] = 49
df.loc[(df.Age.isnull()) & (df.Title == 'Master'), 'Age'] = 5
df.loc[(df.Age.isnull()) & (df.Title == 'Miss'), 'Age'] = 22
df.loc[(df.Age.isnull()) & (df.Title == 'Mlle'), 'Age'] = 24
df.loc[(df.Age.isnull()) & (df.Title == 'Mme'), 'Age'] = 24
df.loc[(df.Age.isnull()) & (df.Title == 'Mr'), 'Age'] = 32
df.loc[(df.Age.isnull()) & (df.Title == 'Mrs'), 'Age'] = 36
df.loc[(df.Age.isnull()) & (df.Title == 'Ms'), 'Age'] = 28
df.loc[(df.Age.isnull()) & (df.Title == 'Rev'), 'Age'] = 43
df.loc[(df.Age.isnull()) & (df.Title == 'Sir'), 'Age'] = 49
df.loc[(df.Age.isnull()) & (df.Title == 'the Countess'), 'Age'] = 33